<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd">
	
	<!-- 配置连接池: -->
	<!-- 引入外部属性文件 -->
	<context:property-placeholder location="classpath:jdbc.properties"/>
	<!-- 配置C3P0连接池: -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.driver}"/>
		<property name="jdbcUrl" value="${jdbc.url}"/>
		<property name="user" value="${jdbc.user}"/>
		<property name="password" value="${jdbc.password}"/>
	</bean>
	
	<!-- Hibernate的相关信息 -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<!-- 注入连接池 -->
		<property name="dataSource" ref="dataSource"/>
		
		<!-- 指定hibernate核心配置文件 -->
		<property name="configLocations" value="classpath:hibernate.cfg.xml" />
		
	</bean>
	
	<!-- 事务管理: -->
	<!-- 事务管理器 -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<!-- 开启注解事务 -->
	<tx:annotation-driven transaction-manager="transactionManager"/>
	
	<!--=========================== Action的配置 =============================-->
	<!-- 管理员action -->
	<bean id="adminUserAction" class="cn.xxn.ctest.adminuser.action.AdminUserAction" scope="prototype">
		<property name="adminUserService" ref="adminUserService"></property>
	</bean>
	<!-- 教师action -->
	<bean id="teacherAction" class="cn.xxn.ctest.teacheruser.action.TeacherAction" scope="prototype">
		<property name="teacherService" ref="teacherService"></property>
	</bean>
	<!-- 班级action -->
	<bean id="bjAction" class="cn.xxn.ctest.bj.action.BJAction" scope="prototype">
		<property name="bjService" ref="bjService"></property>
	</bean>
	<!-- 学生action -->
	<bean id="studentAction" class="cn.xxn.ctest.student.action.StudentAction" scope="prototype">
		<property name="studentService" ref="studentService"></property>
	</bean>
	<!-- 试题类型action -->
	<bean id="qtAction" class="cn.xxn.ctest.questiontype.action.QuestionTypeAction" scope="prototype">
		<property name="qtService" ref="qtService"></property>
	</bean>
	<!-- 试题action -->
	<bean id="questionAction" class="cn.xxn.ctest.question.action.QuestionAction" scope="prototype">
		<property name="questionService" ref="questionService"></property>
	</bean>
	<!-- 试卷action -->
	<bean id="qpAction" class="cn.xxn.ctest.questionpaper.action.QuestionPaperAction" scope="prototype">
		<property name="qpService" ref="qpService"></property>
	</bean>
	<!-- 试卷与试题对应关系的action -->
	<bean id="qprqAction" class="cn.xxn.ctest.qprelationq.action.QpRelationqAction" scope="prototype">
		<property name="qprqService" ref="qprqService"></property>
	</bean>
	<!-- 设置考场action -->
	<bean id="tcAction" class="cn.xxn.ctest.testcontrol.action.TestControlAction" scope="prototype">
		<property name="tcService" ref="tcService"></property>
	</bean>
	<!-- 考试记录action -->
	<bean id="tnAction" class="cn.xxn.ctest.testnote.action.TestNoteAction" scope="prototype">
		<property name="tnService" ref="tnService"></property>
	</bean>
	<!-- 答题情况action -->
	<bean id="asAction" class="cn.xxn.ctest.answerstate.action.AnswerStateAction" scope="prototype">
		<property name="asService" ref="asService"></property>
	</bean>
	
	
	<!--=========================== Service的配置  ============================-->
	<!-- 管理员service -->
	<bean id="adminUserService" class="cn.xxn.ctest.adminuser.service.AdminUserService">
		<property name="adminUserDao" ref="adminUserDao"></property>
	</bean>
	<!-- 教师service -->
	<bean id="teacherService" class="cn.xxn.ctest.teacheruser.service.TeacherService">
		<property name="teacherDao" ref="teacherDao"></property>
	</bean>
	<!-- 班级service -->
	<bean id="bjService" class="cn.xxn.ctest.bj.service.BJService">
		<property name="bjDao" ref="bjDao"></property>
	</bean>
	<!-- 学生service -->
	<bean id="studentService" class="cn.xxn.ctest.student.service.StudentService">
		<property name="studentDao" ref="studentDao"></property>
	</bean>
	<!-- 试题类型service -->
	<bean id="qtService" class="cn.xxn.ctest.questiontype.service.QuestionTypeService">
		<property name="qtDao" ref="qtDao"></property>
	</bean>
	<!-- 试题service -->
	<bean id="questionService" class="cn.xxn.ctest.question.service.QuestionService">
		<property name="questionDao" ref="questionDao"></property>
	</bean>
	<!-- 试卷service -->
	<bean id="qpService" class="cn.xxn.ctest.questionpaper.service.QuestionPaperService">
		<property name="qpDao" ref="qpDao"></property>
	</bean>
	<!-- 试卷与试题对应关系的service -->
	<bean id="qprqService" class="cn.xxn.ctest.qprelationq.service.QpRelationqService">
		<property name="qprqDao" ref="qprqDao"></property>
	</bean>
	<!-- 考场设置service -->
	<bean id="tcService" class="cn.xxn.ctest.testcontrol.service.TestControlService">
		<property name="tcDao" ref="tcDao"></property>
	</bean>
	<!-- 考试记录service -->
	<bean id="tnService" class="cn.xxn.ctest.testnote.service.TestNoteService">
		<property name="tnDao" ref="tnDao"></property>
	</bean>
	<!-- 答题情况service -->
	<bean id="asService" class="cn.xxn.ctest.answerstate.service.AnswerStateService">
		<property name="asDao" ref="asDao"></property>
	</bean>
	
	<!--============================ Dao的配置  ===================================-->
	<!-- 管理员dao -->
	<bean id="adminUserDao" class="cn.xxn.ctest.adminuser.dao.AdminUserDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!-- 教师dao -->
	<bean id="teacherDao" class="cn.xxn.ctest.teacheruser.dao.TeacherDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!-- 班级dao -->
	<bean id="bjDao" class="cn.xxn.ctest.bj.dao.BJDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!-- 学生dao -->
	<bean id="studentDao" class="cn.xxn.ctest.student.dao.StudentDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!-- 试题类型dao -->
	<bean id="qtDao" class="cn.xxn.ctest.questiontype.dao.QuestionTypeDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!-- 试题dao -->
	<bean id="questionDao" class="cn.xxn.ctest.question.dao.QuestionDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!-- 试卷dao -->
	<bean id="qpDao" class="cn.xxn.ctest.questionpaper.dao.QuestionPaperDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!-- 试卷与试题对应关系的dao -->
	<bean id="qprqDao" class="cn.xxn.ctest.qprelationq.dao.QpRelationqDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="tcDao" class="cn.xxn.ctest.testcontrol.dao.TestControlDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="tnDao" class="cn.xxn.ctest.testnote.dao.TestNoteDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!-- 答题情况dao -->
	<bean id="asDao" class="cn.xxn.ctest.answerstate.dao.AnswerStateDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
</beans>
