<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC 
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<property name="hibernate.connection.autocommit">false</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		
		
		<!-- 把映射文件放到核心配置文件中 -->
		<mapping resource="cn/xxn/ctest/adminuser/entity/AdminUser.hbm.xml"/>
		<mapping resource="cn/xxn/ctest/teacheruser/entity/Teacher.hbm.xml"/>
		<mapping resource="cn/xxn/ctest/bj/entity/BJ.hbm.xml"/>
		<mapping resource="cn/xxn/ctest/student/entity/Students.hbm.xml"/>
		<mapping resource="cn/xxn/ctest/questiontype/entity/QuestionType.hbm.xml"/>
		<mapping resource="/cn/xxn/ctest/question/entity/Question.hbm.xml"/>
		<mapping resource="cn/xxn/ctest/questionpaper/entity/QuestionPaper.hbm.xml"/>
		<mapping resource="cn/xxn/ctest/qprelationq/entity/QpRelationq.hbm.xml"/>
		<mapping resource="cn/xxn/ctest/testcontrol/entity/TestControl.hbm.xml"/>
		<mapping resource="cn/xxn/ctest/testnote/entity/TestNote.hbm.xml"/>
		<mapping resource="cn/xxn/ctest/answerstate/entity/AnswerState.hbm.xml"/>
	</session-factory>
</hibernate-configuration>